
body {
    background-image: url("pattern.png");
    background-size: 25px 25px; /* Must be a square */
    background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
    background-repeat: repeat;
  }